<script src="~/jqwidgets/jqxbuttons.js"></script>
<script src="~/jqwidgets/jqxscrollbar.js"></script>
<script src="~/jqwidgets/jqxgrid.js"></script>
<script src="~/jqwidgets/jqxgrid.edit.js"></script>
<script src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
<script src="~/jqwidgets/jqxgrid.filter.js"></script>
<script src="~/jqwidgets/jqxgrid.selection.js"></script>
<script src="~/jqwidgets/jqxgrid.sort.js"></script>
<script src="~/jqwidgets/jqxgrid.pager.js"></script>
<script src="~/jqwidgets/jqxgrid.aggregates.js"></script>
<script src="~/jqwidgets/jqxgrid.grouping.js"></script>
<script src="~/jqwidgets/jqxmenu.js"></script>
<script src="~/jqwidgets/jqxlistbox.js"></script>
<script src="~/jqwidgets/jqxdropdownlist.js"></script>
<script src="~/jqwidgets/jqxcheckbox.js"></script>
<link rel="stylesheet" href="~/jqwidgets/styles/jqx.material-purple.css" type="text/css" />

@model AppUsers

@{
    ViewData["Title"] = "Users";
    var usersData = Model.Select(u => new {
        Id = u.Id,
        UserName = u.UserName,
        AppRoles = u.AppRoles
    }).ToList();
}


@section Scripts
{
    <script type="text/javascript">


        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'UserName', type: 'string' }
            ],
            localdata:
                @Html.Raw(System.Text.Json.JsonSerializer.Serialize(usersData))
        };

        var dataAdapter = new $.jqx.dataAdapter(source);

        function cellsrenderer(row, column, value) {
            var UserId = source.localdata[row].Id;
            var backcolor = "#FFFFFF";

            if (column === 'UserName') {
                return "<div style='height: 100%; width: 100%; background: " + backcolor + "; display: flex; align-items: center; padding: 0 12px;'>" +
                    "<i class='fas fa-user' style='color: #7C3AED; margin-right: 10px;'></i>" +
                    "<span style='font-weight: 500; color: #1F2937;'>" + value + "</span>" +
                    "</div>";
            }
            if (column === 'UserManagement') {
                return "<div style='display: flex; gap: 8px; align-items: center; height: 100%; padding: 0 8px;'>" +
                    "<form method='get' action='/AppAccountManagement/AppEditAccountData' style='margin: 0;'>" +
                    "<input type='hidden' name='Id' value='" + UserId + "' />" +
                    "<button type='submit' class='btn-grid btn-grid-primary'><i class='fas fa-edit'></i> Edit</button>" +
                    "</form>" +
                    "<form method='get' action='/AppAccountManagement/AppEditAccountPass' style='margin: 0;'>" +
                    "<input type='hidden' name='Id' value='" + UserId + "' />" +
                    "<button type='submit' class='btn-grid'><i class='fas fa-key'></i> Password</button>" +
                    "</form>" +
                    "<form method='post' action='/AppAccountManagement/Delete' style='margin: 0;'>" +
                    "<input type='hidden' name='Id' value='" + UserId + "' />" +
                    "<button type='submit' class='btn-grid btn-grid-danger' onclick='return confirm(\"Are you sure you want to delete user: " + source.localdata[row].UserName + "?\");'><i class='fas fa-trash'></i></button>" +
                    "</form>" +
                    "</div>";
            }

            return "<div style='height: 100%; width: 100%; background: " + backcolor + "; display: flex; align-items: center; padding: 0 12px;'>" +
                "<span>" + value + "</span>" +
                "</div>";
        }


        var initRowDetails = function(index, parentElement, gridElement, record) {
            var jsonmod = source.localdata[index].AppRoles;
            var id = record.uid.toString();
            var grid = $($(parentElement).children()[0]);
            $(grid).attr('id', 'ngrid_' + id);

            var data = jsonmod;

            var src = {
                datafields: [
                    { name: 'UserId', type: 'string' },
                    { name: 'RoleName', type: 'string' },
                    { name: 'RoleId', type: 'string' },
                    { name: 'IsInRole', type: 'bool' }
                ],
                localdata: data
            }

            var nestedGridAdapter = new $.jqx.dataAdapter(src);
            if (grid != null) {
                grid.jqxGrid({
                    source: nestedGridAdapter,
                    width: '100%',
                    height: 200,
                    editable: true,
                    columnsresize: true,
                    columns: [
                        { text: 'Role Name', dataField: 'RoleName', editable: false, width: 250 },
                        {
                            text: 'Active',
                            cellsAlign: 'center',
                            align: 'center',
                            dataField: 'IsInRole',
                            columntype: "checkbox",
                            width: 100
                        },
                        {
                            text: 'UserId',
                            dataField: 'UserId',
                            editable: false,
                            hidden: true
                        },
                        {
                            text: 'RoleId',
                            dataField: 'RoleId',
                            editable: false,
                            hidden: true
                        }
                    ]
                });
            }
        }


        $(document).ready(function() {

            $("#jqxgrid").jqxGrid(
                {
                    width: '100%',
                    source: dataAdapter,
                    sortable: true,
                    filterable: true,
                    rowsheight: 50,
                    autoheight: true,
                    columnsresize: true,
                    altrows: true,
                    rowdetails: true,
                    rowdetailstemplate: function(index) {
                        var details = {
                            rowdetails: "<div style='margin: 10px;'></div>",
                            rowdetailsheight: 220,
                            rowdetailshidden: true
                        };
                        return details;
                    },
                    initrowdetails: initRowDetails,
                    columns: [
                        { text: "User", datafield: "UserName", width: "60%", cellsrenderer: cellsrenderer },
                        { text: "Actions", datafield: "UserManagement", width: "40%", cellsrenderer: cellsrenderer, filterable: false, sortable: false },
                    ]
                });
        });


        $('#jqxgrid').on('cellvaluechanged',
            function(event) {
                var args = event.args;
                var datafield = event.args.datafield;
                if (datafield === 'IsInRole') {
                    var rowBoundIndex = args.rowindex;
                    var rowData = $("#" + event.target.id).jqxGrid('getrowdata', rowBoundIndex);
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ManageUsersRole", "AppRoleManagement")',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            UserId: rowData.UserId,
                            RoleId: rowData.RoleId,
                            IsInRole: args.value
                        })
                    });
                }
            });


    </script>

}

<div class="page-header">
    <h2><i class="fas fa-users"></i> User Management</h2>
</div>

<div class="card">
    <div class="card-body p-0">
        <div id="jqxgrid"></div>
    </div>
</div>

<div style="margin-top: 20px;">
    <a class="btn btn-primary btn-lg" asp-controller="AppAccountManagement" asp-action="AppCreateAccount">
        <i class="fas fa-user-plus"></i> Create New User
    </a>
</div>
