@model AppAccountDataEdit
@{
    ViewBag.Title = "Edit data account";
}

<div class="text-center"><h2>Edit data account</h2></div>

<form asp-action="AppEditAccountData" asp-controller="AppAccountManagement">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">User name</label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">Phone Number</label><br />
        <input type="text" asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="text-center">
        <div class="btn-group" role="group">
            <input class="btn btn-dark mr-2" type="submit" Value="Save">
            <a asp-action="AppAccounts" asp-controller="AppAccountManagement" class="btn btn-dark" role="button">Cancel</a>
        </div>
    </div>
</form>