

<div class="text-center text-danger"><h2>Access Denied!</h2></div>
<div class="text-center"><h4>Access to this section by the user @User.Identity.Name is prohibited. Please contact your administrator for access rights.</h4></div>
<div class="text-center">
    <button class="btn-dark" type="submit" onclick="location.href = '@ViewBag.Referer'">OK</button>
</div>