/* A-Charger - Site Overrides */

/* Basic resets to work with acharger-theme.css */

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Remove default body margin for new theme */
body {
    margin: 0;
    padding: 0;
}

/* Cookie consent button */
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
