@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {


        <div class="nav-item">
            <a class="nav-link btn btn-dark text-light" title="Registered user" asp-controller="AppAccountManagement" asp-action="AppEditSelfAccountData">User: @User.Identity.Name</a>
        </div>





        <div class="nav-item">
            <form class="form-inline" asp-controller="AppAccount" asp-action="LogOff" asp-route-returnUrl="@Url.Action("AppAccountLogin", "AppAccount")">
                <button type="submit" class="nav-link btn btn-dark text-light">Logout</button>
            </form>
        </div>
        <div class="nav-item">
            <a class="nav-link btn btn-dark text-light" title="Settings" asp-controller="AppAccountManagement" asp-action="AppCreateAccount"><em class="fa fa-ellipsis-v"></em></a>
        </div>
    }
    else
    {
        @*<div class="nav-item">
                <a class="nav-link btn btn-dark text-light" asp-controller="AppAccount" asp-action="AppAccountRegister">Register</a>
            </div>*@
        <div class="nav-item">
            <a class="nav-link btn btn-dark text-light" asp-controller="AppAccount" asp-action="AppAccountLogin">Login</a>
        </div>
    }

</div>