@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@* This partial is now minimal - main user menu is in _Layout.cshtml *@
@if (!User.Identity.IsAuthenticated)
{
    <div class="navbar-nav">
        <div class="nav-item">
            <a class="btn btn-outline-light" asp-controller="AppAccount" asp-action="AppAccountLogin">
                <i class="fas fa-sign-in-alt me-2"></i>Login
            </a>
        </div>
    </div>
}
