<div class ="btn-group-vertical btn-block">
    <a class="btn btn-dark btn-block" asp-controller="AppAccountManagement" asp-action="AppCreateAccount">Create Account</a>
    <a class="btn btn-dark btn-block" asp-controller="AppAccountManagement" asp-action="AppAccounts">Account Manager</a>
    <a class="btn btn-dark btn-block" asp-controller="AppRoleManagement" asp-action="AppRole">Role Manager</a>
</div>